# Data Pipeline

This is a data pipeline.

## 0 - Imports librarys

In [6]:
#1 - Generates DB with data that was used to screen whetehr participants met the inclusion/exclusion criteria to participate in the study.
##Imports libraries
import pandas as pd
import os
from pathlib import Path

In [7]:
#Opens the excel file where data from participants are stored.
# Go up one folder (from /notebook to project root)
PROJ_ROOT = Path("..").resolve()

# Build the path safely
excel_part_data_path = PROJ_ROOT / "Screening_Data" / "data.xlsx"

# Read the Excel file
df_excel_data_part = pd.read_excel(excel_part_data_path)

# Display the first few rows
df_excel_data_part.head()

Excel path: C:\Users\fabio\OneDrive\Área de Trabalho\RPubs\Article 3\Screening_Data\data.xlsx

,participant,Idade_1,Sexo_1,Nacionalidade_1,FreqEnsSup_1,CicloEstudosEnsSup_1,CicloEstudosEnsSup_2,CicloEstudosEnsSup_3,CicloEstudosEnsSup_4,HabAcademicas_1,...,BSI_51,BSI_52,BSI_53,Pergunta1,Pergunta7,Pergunta14,Pergunta15,TIME_start,TIME_end,TIME_total
0,9,18,2,1,1,1,0,0,0,0,...,2,2,3,NaN,NaN,NaN,NaN,2024-05-18-18-48,2024-05-18-18-57,9
1,11,18,2,1,1,1,0,0,0,0,...,1,1,0,NaN,NaN,NaN,NaN,2024-07-19-11-16,2024-07-19-11-22,6
2,18,33,2,1,2,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,2024-07-19-08-24,2024-07-19-08-37,13
3,20,31,1,1,1,0,0,1,0,0,...,0,0,0,NaN,NaN,NaN,NaN,2024-05-22-00-19,2024-05-22-00-35,16